################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Animal/.vs/Animal/v16/Server/sqlite3
/Animal/.vs/Animal/v16
/Animal/bin/Debug/netstandard2.0
/Animal/obj
/UIConsole/bin/Debug/netcoreapp3.0
/UIConsole/obj
/Animal/.vs
/TripPlanner/.vs/TripPlanner/v16
/TripPlanner/obj

/Business.Tests/bin/Debug/netcoreapp3.0
/Business.Tests/obj
/TripPlanner/.vs/TripPlanner/DesignTimeBuild
/TripPlanner/bin/Debug/netcoreapp3.0
/UI.Console/bin/Debug/netcoreapp3.0
/UI.Console/obj
/TripPlanner/inputCustomers.csv
